@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.header {
  background: rgba(225, 225, 225, 0.7);
  height: 80px;
  width: 100vw;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.header__logo img {
  width: 50px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 40vw;
}
.header-nav__link {
  display: flex;
  font-family: "inter";
  font-size: 20px;
  margin: auto 0;
}
.header-nav__link:last-child {
  margin-bottom: 0;
}
@media screen and (max-width:599px) {
  .header {
    display: none;
  }
}

.sp-header {
  display: none;
}
@media screen and (max-width:599px) {
  .sp-header {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
  }
  .sp-header__logo {
    width: 80px;
  }
  .sp-header .hamberger {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
  }
  .sp-header .hamberger__border {
    background-color: #6E551B;
    height: 2px;
    width: 32px;
  }
}

hr.style2 {
  width: 100vw;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.footer {
  height: 120px;
  width: 100vw;
  padding: 0 80px;
  align-items: center;
  margin: auto 0;
}
.footer-wrap {
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer__info1 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo__text {
  font-family: "inter";
  font-size: 20px;
  margin-left: auto;
}
.footer__logo img {
  width: 30px;
  margin-right: 10px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer-nav__link {
  display: flex;
  font-family: "inter";
  font-size: 20px;
  margin: auto 0;
}
.footer-nav__link:last-child {
  margin-bottom: 0;
}
@media screen and (max-width:599px) {
  .footer {
    display: none;
  }
}
.footer__info2 {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.footer__info2__img {
  width: 100px;
}
.footer__info2__text {
  font-family: "adobe-caslon-pro";
}
.footer .copyrights {
  font-size: 14px;
  font-family: "inter";
}
@media screen and (max-width:599px) {
  .footer .copyrights {
    font-size: 12px;
  }
}

.section-headline__sub {
  color: "Noto sans JP";
  font-weight: bold;
  margin-bottom: 8px;
}
.section-headline__main {
  color: #6E551B;
  font-family: "Noto sans JP";
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 72px;
}

.sidebar1 img {
  position: fixed;
  top: 50%;
  width: 50px;
  height: 250px;
  opacity: 0.4;
  margin: auto;
}

.sidebar2 img {
  position: fixed;
  left: 20px;
  top: 50%;
  width: 25px;
  height: 250px;
  opacity: 0.4;
  margin: auto;
}

.color-circle {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.color-circle--green {
  background-color: #cac43b;
}
.color-circle--blue {
  background-color: #3ab9b6;
}
.color-circle--brown {
  background-color: #544031;
}

.btn {
  border: 1px solid #6E551B;
  color: #6E551B;
  display: block;
  font-size: 14px;
  font-weight: bold;
  font-family: "Noto sans JP";
  height: 48px;
  width: 216px;
  line-height: 48px;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: all 0.8s ease;
}
.btn:hover {
  background-color: #6E551B;
  border: none;
  color: #FFFFFF;
}
.btn::after {
  content: "";
  border: 1px solid #6E551B;
  height: 48px;
  width: 216px;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 0;
}
.btn:hover::after {
  top: 0;
  left: 0;
}
.btn--primary {
  background-color: #6E551B;
  color: #FFFFFF;
}
.btn--primary:hover {
  background-color: transparent;
  border: none;
  color: #6E551B;
}

body {
  color: #323232;
  font-family: "adobe-caslon-pro", "Noto Serif JP", "Noto sans JP", "inter", serif;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

span {
  display: inline-block;
  font-size: 14px;
}

.pc-none {
  display: none;
}

li {
  list-style: none;
}

@media screen and (max-width:1100px) {
  h3 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .tab-none {
    display: none;
  }
}
@media screen and (max-width:599px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  span {
    font-size: 12px;
  }

  .pc-none {
    display: block;
  }

  .mobile-none {
    display: none;
  }
}
.drawer-hamburger {
  padding: 20px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #6E551B;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0;
}

.drawer-nav {
  text-align: center;
  padding: 60px;
}
.drawer-nav .drawer-menu-item {
  font-size: 14px;
  margin-bottom: 28px;
  padding: 0;
}
.drawer-nav .sns-link {
  justify-content: center;
  margin-top: 60px;
}

.page-wrap.active {
  background-color: #00001a;
}

.light {
  color: #FFFFFF;
}

.concept1-wrap.bgLight {
  z-index: 0;
}

.btn.btnDark {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.btn.btnDark:hover {
  background-color: #323232;
  color: #FFFFFF;
}
.btn.btnDark::after {
  border: 1px solid #FFFFFF;
}

.page-wrap {
  align-items: center;
}
@media screen and (max-width:599px) {
  .page-wrap {
    display: initial;
  }
}

.main-visual {
  background: url(../img_photos/owl_alaska.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 80px;
  margin-bottom: 396px;
  z-index: -1;
}
@media screen and (max-width:1100px) {
  .main-visual {
    height: 80vh;
    width: 100%;
    margin-bottom: 150px;
  }
}
@media screen and (max-width:599px) {
  .main-visual {
    position: relative;
    top: 60px;
    height: 40vh;
    width: 100%;
    margin-bottom: 150px;
  }
}
.main-visual .headingBlock {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
}
.main-visual .headingBlock__main {
  font-family: "inter";
  font-size: 60px;
}

.works .section-headline {
  text-align: center;
}
.works-wrap {
  width: calc(100% - 160px);
  margin: 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 120px;
}
@media screen and (max-width:1100px) {
  .works-wrap {
    max-width: initial;
    margin: 32px auto 0;
    padding: 0 20px;
    row-gap: 24px;
  }
  .works-wrap .article {
    width: 49%;
  }
}
.works-content .img-box {
  background-color: #6E551B;
  overflow: hidden;
}
.works-content__img {
  height: 380px;
  width: 380px;
  display: inline-block;
  transition: all 0.8s ease;
}
.works-content__img:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
@media screen and (max-width:599px) {
  .works-content__img {
    height: initial;
    width: 100%;
  }
}
.works-content__title {
  font-family: "Noto sans JP";
  font-weight: bold;
  margin: 8px 0;
}
.works-content__comment {
  font-family: "Noto sans JP";
}

.photos .section-headline {
  text-align: center;
}
.photos-wrap {
  width: calc(100vw - 160px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 120px;
}
@media screen and (max-width:1100px) {
  .photos-wrap {
    max-width: initial;
    margin: 32px auto 0;
    padding: 0 20px;
    row-gap: 24px;
  }
  .photos-wrap .article {
    width: 49%;
  }
}
.photos-content .img-box {
  background-color: #6E551B;
  overflow: hidden;
}
.photos-content__img {
  width: 480px;
  display: inline-block;
  transition: all 0.8s ease;
}
.photos-content__img:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
@media screen and (max-width:599px) {
  .photos-content__img {
    height: initial;
    width: 100%;
  }
}
.photos-content__title {
  font-family: "Noto sans JP";
  font-weight: bold;
  margin: 8px 0;
}

.profile {
  width: calc(100vw - 160px);
  margin: 0 auto;
}
@media screen and (max-width:599px) {
  .profile {
    max-width: initial;
  }
}
.profile .section-headline {
  margin-bottom: 24px;
}
@media screen and (max-width:1100px) {
  .profile .section-headline {
    margin-left: 20px;
  }
}
.profile-wrap {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile-wrap .textbox {
  display: flex;
  flex-flow: column;
  max-width: 50%;
}
.profile-wrap .textbox__headline {
  color: #323232;
  font-family: "Noto Serif JP";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 48px;
}
@media screen and (max-width:1100px) {
  .profile-wrap .textbox__headline {
    margin-bottom: 20px;
  }
}
@media screen and (max-width:599px) {
  .profile-wrap .textbox__headline {
    margin-bottom: 20px;
  }
}
.profile-wrap .textbox__text {
  color: #323232;
  font-family: "Noto Serif JP";
  font-size: 18px;
  line-height: 2;
  margin-bottom: 36px;
}
@media screen and (max-width:599px) {
  .profile-wrap .textbox__text {
    line-height: 1.8;
  }
}
.profile-wrap .textbox__text2 {
  color: #323232;
  font-family: "Noto sans JP";
  font-size: 16px;
  line-height: 2;
}
@media screen and (max-width:599px) {
  .profile-wrap .textbox__text2 {
    line-height: 1.8;
  }
}
.profile-wrap .profile__img {
  width: 485px;
  height: 647px;
}
@media screen and (max-width:599px) {
  .profile-wrap .profile__img {
    position: initial;
    width: 100%;
  }
}

.contact {
  width: calc(100vw - 160px);
  margin: 0 auto;
}
@media screen and (max-width:1100px) {
  .contact {
    max-width: 800px;
  }
}
@media screen and (max-width:599px) {
  .contact {
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }
}
.contact-wrap {
  display: flex;
  justify-content: space-between;
}
.contact-wrap .textbox {
  display: flex;
  flex-flow: column;
}
.contact-wrap .textbox__text {
  color: #323232;
  font-family: "Noto sans JP";
  font-size: 18px;
  line-height: 2;
}
@media screen and (max-width:599px) {
  .contact-wrap .textbox__text {
    line-height: 1.8;
  }
}
.contact-wrap .sns {
  width: 485px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: inset 17px 17px 30px #b5b5b5, inset -17px -17px 30px #ffffff;
}
.contact-wrap .sns-link {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.contact-wrap .sns-link__fb {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.contact-wrap .sns-link img {
  height: 100px;
  width: 100px;
}

.section {
  margin-bottom: 288px;
}
@media screen and (max-width:1100px) {
  .section {
    margin-bottom: 150px;
  }
}
@media screen and (max-width:599px) {
  .section {
    margin-bottom: 96px;
  }
}

.gallery {
  align-items: center;
}
.gallery .section-headline {
  text-align: center;
  position: relative;
  top: 240px;
}
.gallery .animals-wrap {
  width: calc(100vw - 160px);
  padding-top: 170px;
  padding-bottom: 288px;
  margin: 0 auto;
  /*＝＝＝並び替えボタンのCSS*/
  /*＝＝＝Muuriのレイアウトのための調整 */
  /*各画像の横幅などの設定*/
  /*内側のボックスの高さが崩れないように維持*/
  /*画像の横幅を100%にしてレスポンシブ化*/
  /*横幅が768px以下になった際の指定*/
  /*＝＝＝fancyboxサムネイル背景と画像選択時の枠線の指定*/
  /*========= レイアウトのためのCSS ===============*/
}
@media screen and (max-width:599px) {
  .gallery .animals-wrap {
    width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 96px;
  }
}
.gallery .animals-wrap .sort-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 72px 20px 40px;
}
.gallery .animals-wrap .sort-btn li {
  background: #eee;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}
.gallery .animals-wrap .sort-btn li.active {
  /*ボタンに現在地＝activeというクラス名がついたら背景色を変更*/
  background: #ccc;
}
.gallery .animals-wrap .grid {
  position: relative;
  /*並び替えの基準点を指定*/
}
.gallery .animals-wrap .item {
  display: block;
  position: absolute;
  left: 80px;
  width: 200px;
  height: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 1;
}
.gallery .animals-wrap .item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery .animals-wrap .grid img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  /*画像の下にできる余白を削除*/
}
@media only screen and (max-width: 768px) {
  .gallery .animals-wrap .item {
    width: 49.5%;
    /*横並びで2つ表示*/
  }
}
.gallery .animals-wrap .fancybox-thumbs {
  background: transparent !important;
}
.gallery .animals-wrap .fancybox-thumbs__list a:before {
  border: 6px solid #FA999B;
}
.gallery .animals-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.gallery .animals-wrap a {
  color: #333;
}
.gallery .animals-wrap a:hover,
.gallery .animals-wrap a:active {
  text-decoration: none;
}
.gallery .animals-wrap h1 {
  text-align: center;
  font-size: 6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 30px 0;
}
.gallery .animals-wrap p {
  margin: 0 10px 10px 10px;
  word-wrap: break-word;
}

.gallery2 {
  align-items: center;
}
.gallery2 .section-headline {
  text-align: center;
  position: relative;
  top: 240px;
}
.gallery2 .animals2-wrap {
  width: calc(100vw - 160px);
  padding-top: 170px;
  padding-bottom: 288px;
  margin: 0 auto;
}
.gallery2 .animals2-wrap .category-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gallery2 .animals2-wrap .category-list img {
  width: 200px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery2 .animals2-wrap .category-nav {
  text-align: center;
  padding: 40px;
  margin-top: 32px;
}
.gallery2 .animals2-wrap .category-nav label {
  background: #E0E0E0;
  color: #323232;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}
.gallery2 .animals2-wrap .category-nav input[type=radio] {
  /* Hide radio buttonns */
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */