@use "variables" as *;
@use "mixin" as *;

hr.style2 {
    width: 100vw;
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.footer {
    height: 120px;
    width: 100vw;
    padding: 0 80px;
    align-items: center;
    margin: auto 0;

    @include mq(sp) {
        padding: 0px 20px;
    }

    &-wrap {
        display: flex;
        height: 100px;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        @include mq(sp) {
            flex-flow: column;
        }
    }

    &__info1 {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        @include mq(sp) {
            flex-flow: initial;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        &__text {
            font-family: $inter;
            font-size: 20px;
            margin-left: auto;

            @include mq(sp) {
                font-size: 12px;
            }
        }
    }

    &__logo img {
        width: 30px;
        margin-right: 10px;

        @include mq(sp) {
            width: 20px;
            margin-right: 4px;
        }
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq(sp) {
            width: 150px;
            height: 20px;
            // margin: auto 0px;
        }

        &__link {
            // display: flex;
            font-family: $inter;
            font-size: 20px;
            // margin: auto 0;

            // &:last-child {
            //     margin-bottom: 0;
            // }

            @include mq(sp) {
                font-size: 12px;
                // align-items: center;
            }
        }
    }

    &__info2 {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: space-between;

        @include mq(sp) {
            align-items: flex-start;
            // justify-content: space-between;
        }

        .ukraine {

            @include mq(sp) {
                display: flex;
                width: 100%;
                justify-content: space-between;
                // align-items: center;
            }

            .footer__info2__text {
                display: none;

                @include mq(sp) {
                    display: block;
                    font-family: $serif;
                    font-size: 12px;
                    width: 180px;
                }
            }
            .footer__info2__img {
                width: 120px;
                @include mq(sp) {
                    width: 80px;
                }
                // margin-bottom: 10px;
            }
        }
        .copyrights {
            font-size: 14px;
            font-family: $inter;
    
            @include mq(sp){
                font-size: 12px;
            }
        }
    }
}