@use "reset";
@use "variables" as *;
@use "mixin" as *;
@use "header";
@use "footer";
@use "modules";
@use "common";
@use "drawer";
@use "darkmode";

.page-wrap {
    // display: flex;
    align-items: center;
    @include mq(sp){
        display: initial;
    }
}

.main-visual {
    background: url(../img_photos/owl_alaska_01.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 64px;
    margin-bottom: 72px;
    z-index: -1;

    @include mq(tab){
        height: 80vh;
        width: 100vh;
        margin-bottom: 150px;
    }
    @include mq(sp){
        position: relative;
        top: 60px;
        height: 40vh;
        width: 100%;
        // aspect-ratio: 4 / 3;
        // padding-top: 100px;
        margin-bottom: 150px;
    }
    
    .headingBlock {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $white;
        text-align: center;
        width: 60%;

        &__main {
            font-family: $inter;
            font-size: 60px;

            &__sub {
                font-size: 72px;
                color: $green;
                @include mq(sp) {
                    font-size: 16px;
                }
            }

            @include mq(sp) {
                font-size: 16px;
            }

        }

    }
}

.works {
    .section-headline {
        text-align: center;
    }
    
    &-wrap {
        max-width: calc(100vw - 160px);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 40px;
        @include mq(sp){
            max-width: initial;
            margin: 32px auto 0;
            padding: 0 20px;
            justify-content: space-around;
            row-gap: 32px;
            .article{
                width: 49%;
            }
        }
    }

    &-content {
        .img-box{
            // BGCを透過させて少し黄色が買った感じに
            background-color: $main;
            // 子要素が親要素より大きい時に隠す
            // img-boxの大きさは指定しないと子要素の大きさ維持
            overflow: hidden;
        }

        &__img {
            height: 300px;
            width: 300px;
            display: inline-block;
            // アクションをゆっくり
            transition: all .8s ease;

            // ホバーアクション 
            &:hover{
                // 拡大して透過
                transform: scale(1.2);
                opacity: 0.6;
            }

            @include mq(sp){
                height: initial;
                width: 100%;
            }
        }

        &__title {
            font-family: $sans;
            font-weight: bold;
            margin: 8px 0;
        }

        &__comment {
            font-family: $sans;
        }
    }
}

.photos {
    .section-headline {
        text-align: center;
        }
    
    &-wrap {
        max-width: calc(100vw - 160px);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 180px;
        @include mq(tab){
            max-width: initial;
            margin: 32px auto 0;
            padding: 0 20px;
            row-gap: 24px;
            .article{
                width: 49%;
            }
        }
    }

    &-content {
        .img-box{
            // BGCを透過させて少し黄色が買った感じに
            background-color: $main;
            // 子要素が親要素より大きい時に隠す
            // img-boxの大きさは指定しないと子要素の大きさ維持
            overflow: hidden;
        }

        &__img {
            height: 320px;
            width: 480px;
            display: inline-block;
            // アクションをゆっくり
            transition: all .8s ease;

            // ホバーアクション 
            &:hover{
                // 拡大して透過
                transform: scale(1.2);
                opacity: 0.6;
            }

            @include mq(sp){
                height: initial;
                width: 100%;
            }
        }

        &__title {
            font-family: $sans;
            font-weight: bold;
            margin: 8px 0;
        }
    }
}

.profile {    
    max-width: calc(100vw - 160px);
    margin: 0 auto;

    @include mq(sp){
        max-width: initial;
        width: 100%;
        padding: 0 20px;
    }

    .section-headline {
        margin-bottom: 24px;
        @include mq(tab){
            // margin-left: 20px;
        }   
    }

    &-wrap {
        display: flex;
        justify-content: space-between;

        @include mq(sp) {
            display: block;
            // margin: 32px 20px 0;
            // padding: 0 20px;
        }

        .textbox {
            display: flex;
            flex-flow: column;

            &__headline {
                color: $black;
                font-family: $serif;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 48px;
    
                @include mq(tab) {
                    margin-bottom: 20px;
                }
                @include mq(sp){
                    margin-bottom: 20px;
                    font-size: 20px;
                }
            }

            &__text {
                color: $black;
                font-family: $serif;
                font-size: 16px;
                line-height: 2;
                margin-bottom: 32px;
                @include mq(sp){
                    font-size: 16px;
                    line-height: 1.8;
                    margin-bottom: 16px;
                }
            }
    
            &__text2 {
                color: $black;
                font-family: $sans;
                font-size: 16px;
                line-height: 2;
                @include mq(sp){
                    font-size: 14px;
                    line-height: 1.8;
                }
            }
        }

        .profile__img {
            width: 440px;
            // height: 647px;
            @include mq(sp){
                position: initial;
                width: 100%;
                margin-top: 16px;
            }
        }
    }
}

.contact {
    max-width: calc(100vw - 160px);
    margin: 0 auto;

    @include mq(sp){
        max-width: initial;
        width: 100%;
        padding: 0 20px;
    }

    .section-headline {
        margin-bottom: 24px;
        // margin-left: 80px;
        // @include mq(tab){
        //     margin-left: 20px;
        // }       
    }

    &-wrap {
        display: flex;
        justify-content: space-between;

        @include mq(sp) {
            display: block;
            // width: 90%;
            margin: 32px auto 0;
            // padding: 0 20px;
        }

        .textbox {
            display: flex;
            flex-flow: column;

            &__text {
                color: $black;
                font-family: $sans;
                font-size: 18px;
                line-height: 2;
                // margin-top: 60px;
                @include mq(sp){
                    font-size: 14px;
                    line-height: 1.8;
                }
            }
        }

        .sns {
            width: 440px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 24px;
            background: #e0e0e0;
            box-shadow: inset 6px 6px 9px #acacac,
                        inset -6px -6px 9px #ffffff;

            @include mq(sp) {
                margin-top: 24px;
                width: 100%;
                height: 80px;
                border-radius: 18px;
            }
                    
            &-link {
                width: calc(100% * 0.8);
                display: flex;
                justify-content: space-around;

                // &__fb {
                //     background-color: $black;
                //     color: $white;
                //     display: flex;
                //     align-items: flex-end;
                //     justify-content: center;
                //     height: 100px;
                //     width: 100px;
                //     border-radius: 50%;

                //     @include mq(sp) {
                //         height: 60px;
                //         width: 60px;
                //     }

                //     }
            }

            &-link img {
                height: 100px;
                width: 100px;

                @include mq(sp) {
                    height: 60px;
                    width: 60px;
                }
            }

            // &-link__fb.fab fa-facebook-f {
            //     height: 100px;
            //     width: 100px;
            // }


        }
    }
}


.section {
    padding-top: 120px;
    margin-bottom: 48px;

    @include mq(tab) {
        padding-top: 80px;
        margin-bottom: 150px;
    }

    @include mq(sp){
        padding-top: 80px;
        margin-bottom: 46px;
    }
}

// Photos -bird & animals- ページ
.gallery {
    max-width: calc(100vw - 160px);
    margin: 0 auto;
    @include mq(sp){
        max-width: initial;
        width: 100%;
        padding: 0 20px;
    }

    .section-headline {
        text-align: center;
        // position: relative;
        @include mq(sp) {
            padding-top: 100px;
            margin-bottom: 20px;
        }
    }

    .animals-wrap {
        // padding-top: 80px;
        @include mq(sp){
            width: 100%;
            // padding-right: 20px;
            // padding-left: 20px;
            // // padding-top: 60px;
            // padding-bottom: 96px;
        }

        /*＝＝＝並び替えボタンのCSS*/
        .sort-btn{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding:20px 20px 20px;
            @include mq(sp) {
                padding: 10px 0px;
            }
        }

        .sort-btn li{
            background:#eee;
            list-style:none;
            border-radius:10px;
            cursor: pointer;
            padding: 10px;
            margin:0 10px;
        }

        .sort-btn li.active{
            /*ボタンに現在地＝activeというクラス名がついたら背景色を変更*/
            background:#ccc;	
        }

            /*＝＝＝Muuriのレイアウトのための調整 */
        .grid {
            position: relative;/*並び替えの基準点を指定*/
        }

        /*各画像の横幅などの設定*/
        .item {
            display: block;
            position: absolute;
            left: 80px;
            width: 200px;
            height: 150px;
            margin-right: 24px;
            margin-bottom: 20px;
            z-index: 1;
            @include mq(sp) {
                width: 45%;
            }
        }

        /*内側のボックスの高さが崩れないように維持*/
        .item-content {
            position: relative;
            width: 100%;
            height: 100%;
        }

        /*画像の横幅を100%にしてレスポンシブ化*/
        .grid img{
            width:100%;
            height:auto;
            vertical-align: bottom;/*画像の下にできる余白を削除*/
        }

        /*横幅が768px以下になった際の指定*/
        // @media only screen and (max-width: 768px) {
        // .item {
        //     width: 49.5%;/*横並びで2つ表示*/
        // }
        // }

        /*＝＝＝fancyboxサムネイル背景と画像選択時の枠線の指定*/
        .fancybox-thumbs {
            background: transparent!important;
        }

        .fancybox-thumbs__list a:before {
            border: 6px solid #FA999B;
        }


        /*========= レイアウトのためのCSS ===============*/
        // ul{
        //     margin:0;
        //     padding: 0;
        //     list-style: none;
        // }

        a{
            color: #333;
        }

        // a:hover,
        // a:active{
        //     text-decoration: none;
        // }

        // h1{
        //     text-align: center;
        //     font-size:6vw;
        //     letter-spacing: 0.1em;
        //     text-transform: uppercase;
        //     margin:30px 0;
        //     }

        // p{
        //     margin:0 10px 10px 10px;
        //     word-wrap : break-word;
        // }

        .btn {
            margin: 36px auto;
            // margin: 72px auto 0;
            @include mq(sp){
                margin-top: 32px;
            }
        }

    }
}

.gallery2 {
    width: calc(100vw - 160px);
    margin: 0 auto;
    @include mq(sp){
        max-width: initial;
        width: 100%;
        padding: 0 20px;
    }

    .section-headline {
        text-align: center;
        // position: relative;
        @include mq(sp) {
            padding-top: 100px;
            margin-bottom: 20px;
        }
    }

    .animals2-wrap {

        .category-list {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        .category-list img {
            width: 200px;
            height: 150px;
            object-fit: cover;
        }
        .category-nav {
            text-align: center;
            padding: 30px;
            @include mq(sp) {
                padding: 20px 0px;
            }
        }
        .category-nav label {
            background: $gray;
            color: $black;
            border-radius: 10px;
            padding: 5px 10px;
            margin: 10px;
            cursor: pointer;
        }
        .category-nav input[type="radio"] {
            /* Hide radio buttonns */
            opacity:0;
            -webkit-appearance: none;
            appearance: none;
            position: absolute;
        }
        .btn {
            margin: 36px auto;
            // margin: 72px auto 0;
            @include mq(sp){
                margin-top: 32px;
            }
        }
    }
}

.gallery3 {
    max-width: calc(100vw - 160px);
    margin: 0 auto;
    @include mq(sp){
        max-width: initial;
        width: 100%;
        padding: 0 20px;
    }

    .section-headline {
        text-align: center;
        position: relative;
        @include mq(sp) {
            padding-top: 100px;
            margin-bottom: 20px;
        }
    }

    .natures-wrap {
        // padding-top: 32px;
        // // padding-bottom: 288px;
        // margin: 0 80px;
    }

    .natures__img {
        margin: 56px auto;
        width: 60%;
    }

    .btn {
        margin: 36px auto;
        // margin: 72px auto 0;
        @include mq(sp){
            margin-top: 32px;
        }
    }
}